/* Header Styles */
header {
    text-align: center;
    background: linear-gradient(135deg, #007991, #78ffd6);
    padding: 20px 0;
    color: white; 
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);

}

header h1 {
    font-size: 40px; 
    margin: 0;
    padding-bottom: 10px;
    font-family: 'Poppins', sans-serif;
}

/* Navigation Bar */
nav {
    background: linear-gradient(135deg, #ffb88c, #ff6f61);
    padding: 12px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin: 0 20px;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 19px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    padding: 8px 15px;
    transition: 0.3s;
    border-radius: 5px;
    transition: all 0.6s ease-in-out;
}

nav a:hover {
    transform: scaleX(1.1);
    transform: scaleY(1.1);
    font-size: 22px;
    color: white;
    background: #333;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Footer */
footer {
    color: white;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    height: 20vh;
    text-align: center;
    background: linear-gradient(135deg, #007991, #78ffd6); /* Cool Gradient */
    padding: 20px 0;
}

footer a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 5px;
    transition: 0.3s;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);

}

#contact a {
    color: #e9c67a;
}

#email {
    color: #fff;
}

#copyright {
    color: #f8b400;
}
 
footer a:hover {
    background-color: #333;
    border-radius: 10px;
    padding: 5px;
}
